body {
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}


.MenuItem {
    height: 14vmax;
    width: 14vmax;
    border-radius: 2vmax;
    border: 20px black;
    box-shadow: 0 4px 43px 9px rgb(186, 186, 186);
    transition: all .3s;
    position: relative;
}


.MenuItem:hover {
    box-shadow: 0 4px 42px 38px rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.1);
}

.MenuItem:nth-child(1) {
    top: 20vh;
    left: 10vw;
    background: #FFF url("./pics/tic_tac_toe.png") no-repeat;
    background-size: 14vmax;

}

.MenuItem:nth-child(2) {
    bottom: 25vh;
    background: #FFF url("./pics/tetris.png") no-repeat;
    background-size: 14vmax;
}

.MenuItem:nth-child(3) {
    top: 20vh;
    right: 10vw;
    background: #FFF url("./pics/snake.png") no-repeat;
    background-size: 14vmax;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(4);
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {

    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: scale(4);
    }

}


.MenuBlock {
    justify-content: space-evenly;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
    background: radial-gradient(circle, rgb(102, 112, 118) 0%, rgba(0, 0, 0, 1) 100%);
    animation: 1000ms cubic-bezier(.12, .84, 0, .95) appear;
}


.ticTacToe {
    width: 100vw;
    height: 100vh;
    animation: 700ms cubic-bezier(.12, .84, 0, .95) appear;
    background-color: black;
    overflow: hidden;
}

.tetris {
    width: 100vw;
    height: 100vh;
    animation: 700ms cubic-bezier(.12, .84, 0, .95) appear;
    background-color: black;
    overflow: hidden;

}

.snake {
    width: 100vw;
    height: 100vh;
    animation: 700ms cubic-bezier(.12, .84, 0, .95) appear;
    background-color: black;
    overflow: hidden;

}


.tictactoe-wrapper {
    width: 70vmin;
    height: 80vmin;
    margin: 10vh auto;
}


.tetris-wrapper {
    margin: 10px auto;
    animation: 700ms cubic-bezier(.12, .84, 0, .95) appear;
}

.snake-wrapper {
    margin: 10px auto;
    animation: 700ms cubic-bezier(.12, .84, 0, .95) appear;
}

.exiting {
    animation: 700ms cubic-bezier(.12, .84, 0, .95) disappear;
}


.back-btn {
    margin-top: 10px;
    width: 30%;
    height: 7vh;
    font-family: 'Orbitron', Verdana, sans-serif;
    font-size: 1.7rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
    background-image: url("pics/back_btn_pic.png");
    background-size: 3vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

.back-btn:hover {
    box-shadow: 0 0 10px 0 rgb(255, 255, 255)
}


.UpperText {
    margin: 0;
    text-align: center;
    font-size: 5vh;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 15px #fff,
    0 0 24px #fff,
    0 0 27px #fff,
    0 0 30px #fff,
    0 0 42px #fff;
}

.restart-btn {
    margin-left: 20px;
    width: 30%;
    height: 7vh;
    font-family: 'Orbitron', Verdana, sans-serif;
    font-size: 1.7rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
    background-image: url("pics/restart_btn_pic.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
}

.restart-btn:hover {
    box-shadow: 0 0 10px 0 rgb(255, 255, 255)
}


.scoreText {
    text-shadow: 0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
}