<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1,h3,p{
            margin: 30px 40% ;
        }
        p{
            font-size: 20px;
        }
    </style>
</head>

<body>

<h1>Privacy policy</h1>
<h3>Personal data</h3>
<p>Translator had never collected and will never collect any personal data, browsing history etc.</p>
<h3>Third party services</h3>
<p>Translator uses Chrome (Chromium) or WebExtensions Storage Sync API for storing user's settings. It is necessary to save chosen language and state of the translator (is it turned on or off)</p>
<p>Translator uses Microsoft Translator Api and sending text you selected to it.</p>
</body>
</html>