body {
    margin: 0;
    overflow: hidden;
    background-color: #22022f ;
}


.MenuItem {
    height: 14vmax;
    width: 14vmax;
    /*border: 0.5vw solid rgba(0, 0, 0, 1);*/
    border-radius: 2vmax;
    box-shadow: 0px 4px 43px 18px rgba(34, 60, 80, 0.43);
    transition: border, box-shadow .3s;
    /*margin-top: 140px;*/
    position: relative;
}

/*.ItemWrapper{*/
/*    height: 250px;*/
/*    width: 700px;*/
/*    text-align: center;*/
/*    margin-top: 30px;*/
/*    background-color: #dbcccd;*/
/*    padding-top: 25px;*/
/*    padding-left: 50px;*/
/*    border-radius: 30px;*/

/*    !*box-shadow: 7px 7px 23px 4px rgb(148, 195, 213);*!*/
/*}*/

.MenuItem:hover {
    box-shadow: 0px 4px 42px 68px rgba(34, 60, 80, 1);
    cursor: pointer;
}

.MenuItem:nth-child(1) {
    top: 20vh;
    left: 10vw;
    background: #FFF url("../pics/tic_tac_toe.png") no-repeat;
    background-size: 14vmax;

}

.MenuItem:nth-child(2) {
    bottom: 25vh;
    background: #FFF url("../pics/tetris.png") no-repeat;
    background-size: 14vmax;
}

.MenuItem:nth-child(3) {
    top: 20vh;
    right: 10vw;
    background: #FFF url("../pics/snake.png") no-repeat;
    background-size: 14vmax;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(4);
    }
    100% {
        opacity: 1;
    }
}

@keyframes dissapear {

    0% {
        opacity: 0.5;

    }

    100% {
        opacity: 0;
        transform: scale(4);
    }

}


.MenuBlock {
    justify-content: space-evenly;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
    background: linear-gradient(0deg, rgba(30,66,92,1) 0%, rgba(34,2,47,1) 16%, rgba(33,19,59,1) 86%, rgba(30,66,92,1) 100%);

}

.MenuBlock.entering {
    animation: 1000ms cubic-bezier(.12, .84, 0, .95) appear;
}

.MenuBlock.exiting {
    animation: 700ms cubic-bezier(.14, .93, 0, 1.03) dissapear;
}
